body {
    background-color: black;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

ul li {
    list-style-type: none;
    float: left;
    width: 170px;
    font-size: 17px;
    display: inline;
}

#wholeScreen {
    width: 100%;
    height: 100%;
}

.header {
    font-size: 60px;
    margin-top: 10px;
}

.info {

}

.note {
    padding-top: 30px;
    font-weight: initial;
    font-size: 20px;
}

/*Menu Trang Web*/
.MenuItems {
    width: 100px;
    height: 20px;
    border: hidden;
    float: left;
    text-align: center;
    position: relative;
    padding: 2px 0;
    margin-top: 10px;
    margin-left: 40px;
    letter-spacing: 2px;
    font-size: 12px;
    line-height: 10px;
    font-weight: 900;
    color: white;
    display: inline-block;

}

.MenuItems::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background-color: white;
    transform-origin: center;
    transform: scale(0, 1);
    transition: transform 0.3s ease-out;
}

.MenuItems:hover {
    color: white;
    text-decoration: none;
}

.MenuItems:hover::before {
    transform-origin: center;
    transform: scale(1, 1);
}

#logoHang {
    width: 15%;
    position: absolute;
    top: 10px;
    left: 42.5%;
    z-index: 20;

}

#goWithScroll {
    width: 100%;
    position: fixed;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: black;
    z-index: 10;
}

#logoProduct {
    margin-left: 60px;
    margin-top: 20px;
    height: 20px;
}

#menu {
    margin-top: 30px;
}

/*Lam  Phai Lon*/
#lamPhaiLon {
    width: 100%;
}

#backgroundLPL {
    position: absolute;
    top: 108px;
    object-fit: cover;
    width: 100%;
    margin-left: -10px;
    margin-right: -10px;
}

#bodyLPL {
    color: white;
    font-weight: bolder;
}

#logoLPL {
    position: absolute;
    top: 200px;
    left: 100px;
    width: 12%;
}

#lpl {
    position: absolute;
    top: 230px;
    text-align: center;
    font-size: 90px;
    width: 40%;
    margin-left: 30%;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#anh_lpl {
    width: 70%;
    margin-left: 22%;
    position: absolute;
    top: 485px;
    left: -30px;
}

#video {
    width: 100%;
    position: absolute;
    top: 1080px;
}

/*Man Hinh Vo Cuc*/
#voCuc {
    position: absolute;
    top: 1500px;
}

#videoPlayer {
    width: 100%;
    position: relative;
    z-index: -2;
}

#myPhone {
    position: absolute;
    width: 80%;
    z-index: -1;
    margin-left: 10%;
}

#gioiThieu {
    padding-left: 21%;
}

#voCucHead {
    height: fit-content;
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    color: white;
    display: inline-block;
    padding-left: 20%;
}

#trai_nghiem {
    font-size: 30px;
    padding-bottom: 80px;
}

#thiết_kế {
    font-size: 25px;
}

#header_voCuc {
    font-size: 60px;
    margin-top: 10px;
}

#icon_voCuc {
    padding: 0 100px 0 100px;
}

#d {
    padding-left: 460px;
}

#introVoCuc {
    padding-top: 30px;
    font-weight: initial;
    font-size: 20px;
}

#introVoCuc_2 {
    font-weight: initial;
    font-size: 17px;
}

/*S PEN*/

#spen {
    position: absolute;
    top: 3300px;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

#textSPen {
    position: absolute;
    top: 150px;
    width: 80%;
    left: 10%;
}

#anhSPen {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -1;
}

#headerSP {
    font-size: 60px;
}

#introSP {
    font-weight: initial;
    font-size: 22px;
}

#noteSP {
    font-weight: initial;
    font-size: 18px;
}

#moreSp {
    padding-top: 50px;
}

#header2SP {
    font-size: 45px;
}

#samsung-note {
    padding: 0 130px 0 130px;
}

#listSP {
    position: absolute;
    left: 275px;
}

.itemSP {
    float: left;
    font-size: 18px;
    padding: 10px;
    font-weight: initial;
}

#sPenPart_2 {
    position: absolute;
    width: 100%;
    top: -200px;
    visibility: hidden;
}

#imageSPen {
    position: absolute;
    width: 100%;
    top: 1500px;
    z-index: -1;
}

#butSPen {
    width: 400px;
    height: 130px;
    position: absolute;
    top: 350px;
    left: 450px;
}

#phoneSP {
    padding-top: 35px;
    width: 750px;
    height: 340px;
}

#moreSP2 {
    padding-top: 100px;
    font-size: 20px;
}

/*Phan Camera*/

#camera {
    position: absolute;
    top: 4730px;
    color: white;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding-top: 100px;
}

#text1_Camera {
    padding-top: 100px;
}

#text2_Camera {
    margin-top: -300px;
    visibility: hidden;
}

#backgroundCamera {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -1;
}

.icon_camera {
    padding: 0 62px 0 62px;
}

.icon_camera_chu {
    float: left;
    list-style-type: none;
    padding-left: 60px;
    font-size: 18px;
    font-weight: initial;
}

#canchinh_icon_camera {
    padding-left: 350px;
}

#imageCamera {
    position: absolute;
    top: 2000px;
    left: 460px;
    z-index: -1;
}

#timhieuthem_camera {
    font-size: 20px;
    z-index: 1;
    position: absolute;
    top: 5300px;
    left: 670px;
}